@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap");

.center{
  background: white;
  padding:10px;
  border-radius: 20px;
  position: absolute;
  margin-top: 2px;;
  left: 50%;
  transform: translate(-50%);

}

.square{
  background:rgb(57, 110, 131);
  padding:40px 50px 50px 50px;
  border-radius: 20px;
}


.signup-content {
  margin-bottom: 10px;
  display: flex;
}

.form-title {
  margin-bottom: 33px;
  font-family:"Rammetto One", sans-serif;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  margin-bottom: 20px;
}
.form-group:last-child {
  margin-bottom: 0px;
}

.label {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  color: #403f3f;;
}

.input {
  outline: none;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}



.haveAccount {
  padding:10px;
  width: 50%;
  position: absolute;
  margin-top: 2px;;
  left: 50%;
  transform: translate(-50%);
}

.haveAccountLink {
  font-size: 14px;
  color: white;
  display: block;
  text-align: center;
}

.form-button {
  text-align: center;
}

.form-submit {
  font-family: "Rammetto One", sans-serif;
  margin-top: 15px;
  padding: 15px 35px;
  background: #6dabe4;
  background: rgb(216, 200, 60);
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  outline: none;
  border: none;
}
.form-submit:hover {
  background:  rgb(185, 168, 21);
}

